 <header>
    <% main_logo = image_tag("20110301_parthenon_logo.png", :alt => "PDL", :class => "round", :title =>"PDL") %>
	<%= link_to main_logo, root_path %>
    <nav class="uppernav">
      <ul>
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Help", support_path %></li>
        <li><%= link_to "Sign in", '#' %></li>
      </ul>
    </nav>
	<div>
		<nav class ="main_nav">
			<ul>
				<li><%= link_to "Products", products_path %></li>
				<li><%= link_to "Something 2", '#' %></li>
				<li><%= link_to "Something 3", '#' %></li>				
			</ul>
		</nav>
	</div>


  </header>